mixin songItem(data)
  .comp-song-item
    .comp-song-item__title
      h3.comp-song-item__title-text!=data.title
      span.comp-song-item__author!=data.author
    .comp-song-item__desc!=data.desc
    if data.date || data.chord
      .comp-song-item__info
        .comp-song-item__date!=data.date
        .comp-song-item__chord!=data.chord
    +link(data.link).comp-song-item__link